<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/jpeg" href="../static/img/WhatsApp Image 2025-03-28 at 21.37.25 (3).jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Barbie do TI</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/WhatsApp Image 2025-03-28 at 21.37.25 (3).jpeg" alt="Avatar">
            <h1>Barbie do TI</h1>
            <div class="social-links">
                <a target="_blank" href="https://www.linkedin.com/in/camila-f-901897b5/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/camilafagundes">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/barbiedot.i/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/c/ProzEduca%C3%A7%C3%A3obr">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                  </li>
              </ul>
        </nav>
    </aside>
    
    <main>
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center aling-items-center flex-column">
                <h2 class="text-white text-shadow">Barbie do TI</h2>
                <span id="subtitle" class="text-white text-shadow">Empreendedora Multitalentosa | Fashionista | Engenheira | Médica | Piloto | Advogada | Presidente</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end aling-items-end flex-column">
                <div id="arraste" class="d-flex aling-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
            
            
        </section>
        
        <section class="container mt-5" id='sobre'>

            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>
                        Sou a Barbie — uma profissional versátil com uma carreira que abrange mais de 200 profissões. 
                        Ao longo dos anos, me reinventei como médica, engenheira, presidente, astronauta, estilista, entre outras. 
                        Apaixonada por empoderamento feminino, inovação e diversidade, estou sempre pronta para abraçar novos desafios com estilo, inteligência e atitude positiva.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/WhatsApp Image 2025-03-28 at 21.37.25 (2).jpeg" alt="Foto de Perfil" data-anime="left">
                </div>
                <div class="col md-8" data-anime="right">
                    <h3>Coach/Guru do TI</h3>
                    <p>
                        A Barbie tem uma carreira impressionante! Desde sua estreia em 1959, ela já teve mais de 250 profissões diferentes — e contando! 
                        Se a gente considerar que ela começou a "trabalhar" desde o início...
                        2025 - 1959 = 66 anos de experiência profissional
                        Ela é praticamente um LinkedIn ambulante!
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter">9 de março de 1959</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">66 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">New York City</span>
                                </li>
                              </ul>        
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">New York</span>
                                </li>
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Ser tudo o que quiser!</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">Desde que nasci</span>
                                </li>
                              </ul>        
                        </div>
                    </div>

                    <p>
                        Busco inspirar meninas (e meninos!) a acreditarem que podem ser o que quiserem. 
                        Acredito na força do trabalho em equipe, na criatividade como motor de transformação e em usar minha plataforma para criar um mundo mais inclusivo.
                    </p>

                   
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>
                    Na jornada do desenvolvimento, cada linha de código escrita e cada bug resolvido adicionam mais experiência ao meu repositório de habilidades.
                    Ao longo do tempo, refinei minha stack técnica e minhas soft skills, equilibrando teoria e prática para criar soluções eficientes e escaláveis.
                    Aqui está o deploy das minhas principais habilidades, com a porcentagem de proficiência em cada uma. E claro, os updates nunca param! 
                </p>
                
                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 45%">45%</div>
                        </div>
                        <p class='mt-3 mb-0'>CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 13%">13%</div>
                        </div>
                        <p class='mt-3 mb-0'>JAVASCRIPT</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 18%">18%</div>
                        </div>
                        <p class='mt-3 mb-0'>PYTHON</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 19%">19%</div>
                        </div>
                        <p class='mt-3 mb-0'>JAVA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 5%">5%</div>
                        </div>
                        <p class='mt-3 mb-0'>C#</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 2%">2%</div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>LIDERANÇA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 85%">85%</div>
                        </div>
                        <p class='mt-3 mb-0'>MARLETING PESSOAL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 45%">45%</div>
                        </div>
                        <p class='mt-3 mb-0'>COMUNICAÇÃO ASSERTIVA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 60%">60%</div>
                        </div>
                        <p class='mt-3 mb-0'>ADAPTABILIDADE</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 90%">90%</div>
                        </div>
                        <p class='mt-3 mb-0'>MENTALIDADE DE CRESCIMENTO</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 80%">80%</div>
                        </div>
                        <p class='mt-3 mb-0'>TRABALHO EM EQUIPE</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"
                            style="width: 75%">75%</div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div id="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class='cv-item' data-anime="up">
                            <h4>MBA em Liderança Global e Sustentabilidade</h4>
                            <h5>Atualmente</h5>
                            <p><em>Universidade Dreamhouse</em></p>
                            <p>Este programa é voltado para profissionais que desejam liderar com propósito em um mundo em constante transformação. 
                                O curso desenvolve competências estratégicas para atuar em contextos internacionais, com foco em inovação, responsabilidade socioambiental e governança corporativa. 
                                Ao longo da formação, os alunos aprofundam-se em temas como ESG, economia circular, liderança ética, gestão de mudanças e impacto social, preparando-se para assumir posições de destaque em empresas comprometidas com o desenvolvimento sustentável.
                            </p>
                        </div>
                        <div class='cv-item'data-anime="up">
                            <h4>Bacharelado em Moda, Medicina, Engenharia e Direito (simultaneamente)</h4>
                            <h5>2010</h5>
                            <p><em>Universidade Dreamhouse</em></p>
                            <p>
                                Profissional com formação acadêmica ampla e integrada, unindo a sensibilidade estética da Moda, o rigor técnico da Engenharia, a precisão científica da Medicina e a lógica analítica do Direito. 
                                Essa combinação singular permite uma atuação estratégica, criativa e ética em múltiplas áreas, com visão holística para solucionar desafios complexos e inovar de forma responsável. 
                                Uma jornada acadêmica que reflete versatilidade, resiliência e excelência em diferentes campos do conhecimento.
                            </p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Cursos Livres e Complementares</h4>
                            <h5>2020</h5>
                            <p><em>Universidade Dreamhouse</em></p>
                            <p>Astronáutica – NASA Barbie Academy
                                Inteligência Artificial para Bonecas – TechBarbie Lab
                                Comunicação para Impacto Social – Harvardx
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class='cv-item' data-anime="up">
                            <h4>EcoFashion by Barbie</Low-Code></h4>
                            <h5>Atualmente</h5>
                            <p><em>Sustentabilidade em Moda</em></p>
                            <p>Liderou a criação de uma linha de roupas sustentáveis com tecidos reciclados e produção ética. Colaborou com estilistas internacionais para promover a moda consciente.</p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Missão Rosa Galáctica</h4>
                            <h5>2023</h5>
                            <p><em>Exploração Espacial</em></p>
                            <p>Como astronauta, participou de uma simulação de missão à Marte, desenvolvendo soluções para bem-estar em ambientes de gravidade zero. Inspirou meninas ao redor do mundo a se interessarem por STEM.</p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>BarbieTech Solutions</h4>
                            <h5>2022-2023</h5>
                            <p><em>Startup Tech</em></p>
                            <p>Fundou uma startup focada em aplicativos educacionais para crianças. O app principal, “Dream It, Code It”, ensina lógica de programação de forma lúdica.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
          
              <h2 class="pb-4">Portfólio</h2>
          
              <div id="carouselPortfolio" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
          
                <div class="carousel-inner">
                  <!-- Slide 1 -->
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                      <!-- Card 1 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/WhatsApp Image 2025-04-04 at 12.27.30 (1).jpeg" class="card-img-top" alt="Presidente Bacharelado (2016)">
                          <div class="card-body">
                            <h5 class="card-title">Presidente Barbie (2016)</h5>
                            <p class="card-text">Primeira boneca presidente com gabinete diversificado e inclusivo. Campanha voltada à representatividade e liderança feminina.</p>
                            <div class="d-flex justify-content-center">
                              <a href="https://github.com/camilafagundes/ebook_programacao/blob/main/Ebook%20Hello%20World!.pdf" target="_blank" class="btn btn-outline-dark me-3">
                                <i class="bi bi-github"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <!-- Card 2 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/WhatsApp Image 2025-04-04 at 12.27.29 (1).jpeg" class="card-img-top" alt="Barbie Fashionista">
                          <div class="card-body">
                            <h5 class="card-title">Barbie Fashionista</h5>
                            <p class="card-text">Criação da linha de bonecas com diferentes tons de pele, corpos, cabelos e estilos. Projeto premiado pela ONU Mulheres por promover diversidade e autoestima.</p>
                            <div class="d-flex justify-content-center">
                              <a href="https://github.com/camilafagundes/classes-de-um-jogo" target="_blank" class="btn btn-outline-dark me-3">
                                <i class="bi bi-github"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <!-- Card 3 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/WhatsApp Image 2025-04-04 at 12.27.30.jpeg" class="card-img-top" alt="Dreamhouse Renovation">
                          <div class="card-body">
                            <h5 class="card-title">Dreamhouse Renovation</h5>
                            <p class="card-text">Projeto sustentável de redesign da Dreamhouse com uso de energia solar e materiais reciclados.</p>
                            <div class="d-flex justify-content-center">
                              <a href="" target="_blank" class="btn btn-outline-primary">
                                <i class="bi bi-link-45deg"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <!-- Slide 2 -->
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                      <!-- Card 4 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/8f2bd40d-6e32-4b61-9cb8-f77ff07bbcd8.jpg" class="card-img-top" alt="Barbie Estelar – Observatório Itinerante">
                          <div class="card-body">
                            <h5 class="card-title">Barbie Estelar – Observatório Itinerante</h5>
                            <p class="card-text">Iniciativa educacional com um observatório móvel que viaja por escolas ao redor do mundo...</p>
                            <div class="d-flex justify-content-center">
                              <a href="https://github.com/camilafagundes/ebook_programacao/blob/main/Ebook%20Hello%20World!.pdf" target="_blank" class="btn btn-outline-dark me-3">
                                <i class="bi bi-github"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <!-- Card 5 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/WhatsApp Image 2025-04-04 at 12.27.29.jpeg" class="card-img-top" alt="BarbieTech – Fábrica Inteligente do Futuro">
                          <div class="card-body">
                            <h5 class="card-title">BarbieTech – Fábrica Inteligente do Futuro</h5>
                            <p class="card-text">Engenheira-chefe em uma planta industrial 100% automatizada, sustentável e comandada por uma IA ética...</p>
                            <div class="d-flex justify-content-center">
                              <a href="https://github.com/camilafagundes/classes-de-um-jogo" target="_blank" class="btn btn-outline-dark me-3">
                                <i class="bi bi-github"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <!-- Card 6 -->
                      <div class="col">
                        <div class="card">
                          <img src="../static/img/8eb98265-08cc-48f9-8481-1800aec8807f.jpg" class="card-img-top" alt="Barbie Coração do Futuro">
                          <div class="card-body">
                            <h5 class="card-title">Barbie Coração do Futuro</h5>
                            <p class="card-text">Como médica e pesquisadora, lidera um centro de inovação em saúde cardiovascular...</p>
                            <div class="d-flex justify-content-center">
                              <a href="" target="_blank" class="btn btn-outline-primary">
                                <i class="bi bi-link-45deg"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
          
                <!-- Controles -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
          
              </div>
            </div>
        </section>
          

        <section id="contato" class="pt-5 pb-5">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>Curitiba, Paraná</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email:</h4>
                                <p>barbiedoti2@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.9724115881245!2d-49.32152992393004!3d-25.60583297745013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfef37a9b8d69%3A0x6d8b345a22ce9776!2sPosto%20Pelanda%2016!5e0!3m2!1spt-BR!2sbr!4v1743679396048!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" id="nome" name='nome' required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="email" name='email' required>
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name='mensagem' 
                                  rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                               
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                                  
                                  <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status">Loading...</span>
                                  </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle-fill"></i> Mensagem enviada com sucesso!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    
    </main>
    
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Barbie do TI</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>